@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #c1bfbf;
  --foreground: #171717;
  --primary:#e6732d;
  --grey-100:#d4dae4
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--foreground);
    --foreground: var(--background);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  color:var(--primary);
  background: var(--grey-100);
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: flex-end;
}
.navbar-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}